<!-- Main Content -->
{{#extend "layout"}}
{{#content "main"}}
  <div class="hero bg-base-200 min-h-[50vh] items-start pt-8">
    <div class="hero-content text-center">
      <div class="max-w-[800px] mx-auto">
        <h1 class="text-5xl font-bold">Backend tools</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">    
        {{#each topFeatures}}
        <div class="card bg-base-100 shadow-sm">
          
          <div class="card-body text-left">
            <h2 class="card-title">{{title}}</h2>

            <p>{{this.category}}</p>
            <p>{{this.content}}</p>

            <div class="card-actions justify-end">
              <a href="/listing/{{slug}}/{{_id}}" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      </div>
    </div>
  </div>

{{/content}}
{{/extend}}