<!-- Main Content -->
{{#extend "layout"}}
{{#content "main"}}
<div class="hero min-h-[50vh] items-start pt-8">
  <div class="hero-content text-center">
    <div class="max-w-[800px] mx-auto">
      <h1 class="text-5xl font-bold">{{title}}</h1>
      <p class="py-6 text-xl text-base-content/70">{{{ingress}}}</p>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-5">
        {{#each topFeatures}}
        <a href="/{{categorySlug}}/{{slug}}/{{_id}}"
          class="card bg-base-100 shadow-sm hover:bg-base-200 transition-colors">
          <figure class="h-48">
            <img src="{{#if altImageUrl}}{{altImageUrl}}?cachebrk={{../cacheBreaker}}{{else}}/screenshot?url={{siteUrl}}&cachebrk={{../cacheBreaker}}{{/if}}" alt="{{title}}" class="w-full h-full object-cover" />
          </figure>          
          <div class="card-body text-left">
            <h2 class="card-title">{{title}}</h2>

            <p class="font-bold">{{this.category}}</p>
            <p>{{#if this.ingress}}{{this.ingress}}{{else}}{{this.content}}{{/if}}</p>

            <div class="card-actions justify-end">
              <div class="btn btn-primary">Read more</div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="my-8 p-5 font-sans max-w-[320px] mx-auto">
    {{bannerAd 
        link="https://codehooks.io" 
        image="https://codehooks.io/img/codehooks-feature.svg" 
        text="A complete backend database for your next project."
        linkText="Codehooks.io"
    }}
</div>

{{/content}}
{{/extend}}