{{#extend "layout"}}
{{#content "main"}}
<div class="hero min-h-[50vh] items-start pt-8">
    <div class="hero-content text-center relative">
        <span class="absolute top-0 right-1 badge badge-ghost">{{listing.category}}</span> 
        <div class="max-w-[800px] mx-auto">
            <h1 class="text-5xl font-bold mt-4">{{listing.title}}</h1>
            {{#unless (eq listing.companyName listing.title)}}
            <p class="py-6 text-xl text-base-content/70">by {{listing.companyName}}</p>
            {{/unless}}
            
            <div class="card bg-base-100 w-full lg:max-w-[740px] lg:mx-0 mt-4 relative">
                <figure class="px-4 pt-4">
                    <img src="{{#if listing.altImageUrl}}{{listing.altImageUrl}}?cachebrk={{../cacheBreaker}}{{else}}/screenshot?url={{listing.siteUrl}}&cachebrk={{../cacheBreaker}}{{/if}}" alt="{{listing.title}}" class="rounded-xl w-full">
                </figure>

                <div class="card-body text-left">                   
                    {{#if listing.ingress}}
                    <div class="prose mt-6">
                        <blockquote>{{{listing.ingress}}}</blockquote>
                    </div>
                    {{/if}}
                    
                    <div class="mt-6">
                        <h2 class="text-xl font-semibold mb-4">Mer informasjon</h2>
                        <dl class="grid gap-4">
                            {{#each listing.details}}
                            <div class="grid sm:grid-cols-2 grid-cols-1 bg-base-200 rounded-lg p-4 hover:bg-base-300 transition-all gap-1">
                                <dt class="font-semibold text-base-content/80">{{label}}</dt>
                                <dd class="text-base-content">
                                    {{#if (eq label "Nettsted")}}
                                    <a href="{{value}}" class="link font-medium break-words truncate hover:text-clip hover:whitespace-normal" target="_blank"
                                        rel="noopener noreferrer">{{value}}</a>
                                    {{else}}
                                    <span class="font-medium break-words">{{value}}</span>
                                    {{/if}}
                                </dd>
                            </div>
                            {{/each}}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-8 p-5 font-sans max-w-[480px] mx-auto">
    {{bannerAd 
        link="https://codehooks.io" 
        image="https://codehooks.io/img/logo.svg" 
        title="Codehooks.io"
        text="A super-simple yet complete backend for your next project."
        linkText="Learn more »"
    }}
</div>
{{/content}}
{{/extend}}